body {
	background-color: #18A4C5;
	color: white;
	font-family: 'VT323', monospace; 
	font-size: 20px;
	padding: 0px 0px 50px 0px;
}

a:link,a:visited {
	color: #DBD6B6;
}

.jumbotron {
	background-color: #18A4C5;
	padding: 10px 0px 0px 0px;
	margin: 0px;
	font-size: 2em; 
	line-height: 1.0;
}

h1 {
	font-size: 1.5em;
	padding: 0px 0px 20px 0px;
}

hr {
	background-color: white;
}

.descriptors {
	font-size: 1.2em;
}

.social-links {
	font-size: 1.3em;
}

@media (min-width: 768px) and (max-width: 991.98px) { 
	.speaking .row {
		padding: 0px 0px 20px 0px;
	}
}

.speaking .col-sm {
	padding: 0px 0px 20px 0px;
}

.flex-list {
	font-family: 'VT323', monospace; 
    position: relative;
    margin: 1em;
    overflow: hidden;
}

.flex-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
}

.flex-list li {
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    border-left: 1px solid #ccc;    
}