body {
	background-color: #18A4C5;
	color: white;
	font-family: 'VT323', monospace; 
}

a:link,a:visited {
	color: #DBD6B6;
}

.jumbotron {
	background-color: #18A4C5;
	padding: 2rem 0rem 0rem 0rem;
	font-size: 2em; 
	line-height: 1.0;
}

hr {
	background-color: white;
}

.col {
	font-family: 'Open Sans', sans-serif;
}

.col h1 {
	font-family: 'VT323', monospace; 	
}